.login-wrapper {
  height: 100vh;
  .login-left-col {
    background-color: @theme-color;
  }
  .login-right-col {
    .login-right-from {
      height: auto;
      border: 1px solid gainsboro;
      text-align: center;
      padding: 20px;
      h2 {
        font-size: 20px;
      }
      .ant-form label {
        width: 100%;
        margin-left: 11px;
      }
      .forget {
        font-size: @text-size-small;
        color: @theme-color;
        text-decoration: underline;
      }
    }
  }
}
